// Theme site wide styling

// Needed *:before and *:after to be set for react-dates components to show correctly:
// Also, box sizing eliminates extra padding and margin being added to rules using height:
// (the default is content-box, which adds padding/border to the height to get the final height).
*, *:before, *:after {
    box-sizing: border-box;
  }  

html {
    font-size: 62.5%; /* this makes 1rem = 10px instead of 16px */
}

body {
    // sets font color to a dark grey instead of black - dark-grey is set and defined in the _settings.scss file:
    color: $grey-dark;
    background: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;   
    line-height: 1.6; // gives some space between paragraphs to look nicer.
}

button {
    cursor: pointer; //sets cursor to the hand when hovering over all buttons
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}